*{
    transition: all 0.3s;
}

body{
    background-color: cadetblue;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: fantasy;
    font-size: 110%;
}

.contenedor{
    width: 98vw;
    height: 97vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado{
    background-color: white;
    min-width: 300px;
    max-width: 600px;
    width: 70%;
}

.categoria{
    opacity: 0.3;
    text-align: left;
}

.pregunta{
    padding: 10px;
}

.imagen{
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.btn{
    background-color: white;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin:5px;
}

.btn:hover{
    background-color: orange;
    cursor: pointer;
}

.puntos{
    background-color: white;
    width: 60%;
    max-width: 200px;
    padding: 10px;
    margin:5px;
    margin-top: 20px;
}